<% available_players.each do |player| %>
  <tr id="available-player-<%= player.id %>">
    <td>
      <%= render partial: "players/player_name", locals: { player: player } %>
      <br>
      <small class="text-muted"><%= player.positions %></small>
    </td>
    <td><strong>$<%= player.calculated_value&.round || "?" %></strong></td>
  </tr>
<% end %>
